#[Title]#
%issue.title%

#[CVSSv2.Base]#
%issue.cvss_base%

#[CVSSv2.Temporal]#
%issue.cvss_temporal%

#[CVSSv2.Environmental]#
%issue.cvss_environmental%

#[Finding]#
%issue.finding%

#[Impact]#
%issue.impact%

#[Ease]#
%issue.ease%

#[Recommendation]#
%issue.recommendation%
