#[Title]#
%issue.title%

#[CVSSv2.Base]#
%issue.cvss_base%

#[CVSSv2.Temporal]#
%issue.cvss_temporal%

#[CVSSv2.Environmental]#
%issue.cvss_environmental%

#[Finding]#
%issue.finding%

#[Impact]#
%issue.impact%

#[Ease]#
%issue.ease%

#[Nipperv1.Ease]#
%issue.nipperv1_ease%

#[Nipperv1.Fix]#
%issue.nipperv1_fix%

#[Nipperv1.Impact]#
%issue.nipperv1_impact%

#[Nipperv1.Rating]#
%issue.nipperv1_rating%

#[Recommendation]#
%issue.recommendation%
